body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
/* Responsivité */
*{
    box-sizing: border-box;
}
@media screen and (max-width: 700px) {
    .row, .nav-ul, .btn-deux, nav, .contenaire, .container, .btn-statut, .btn-ajout, img, .footer, button, .menu, .nav-li, ul, li, .image-logo2{   
      flex-direction: column;
    }
  }
  @media screen and (min-width: 408px) {
      .btn-deconnexion, .image-logo2{
          flex-direction: row;
      }
  }
/* Fin responsivité */
/* Les deux navs */
.nav-ul{
    position: relative;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: #CA7108;
    color: white;
    padding: 0;
    margin: 0;
}
/* .navbar{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: #CA7108;
    color: white;
    padding: 0;
    margin: 0;
} */
/* .navbar li{
    position: relative;
    left: 420px;
} */
.nav-li{
    color: #415A9E;
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-inline-end: 2px;
}
.nav-li a{
    color: white;
}
.sous_menu{
    width: 100%;
    background-color: #415A9E;
}
/* Les icones */
.icone{
    position: relative;
    left: 85%;
    margin-inline-end: 30px;
    cursor: pointer;
    border-radius: 100%;
}
/* .icone1{
    position: relative;
    cursor: pointer;
    border-radius: 100%;
} */
.nav-i .sous_menu i{
    color: white;
    border-radius: 50px;
    transition: 0.5s all;
    font-size: 15px;
}
/* Boutton deconnexion */
.btn-deconnexion{
    width: 120px;
    height: 30px;
    margin: 10px;
    font-weight: bold;
    position: relative;
    left: 250%;
    color: #CA7108;
    background-color: white;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
}
.btn-connexion{
    width: 120px;
    height: 30px;
    margin: 10px;
    font-weight: bold;
    position: relative;
    left: 31%;
    color: #CA7108;
    background-color: white;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
}
/* bouton ajout et statut logement sur la page logement */
.btn-ajout{
    width: 180px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: #415A9E;
    font-weight: bold;
    /* margin-left: 4%; */
    margin-top: 10px;
}
.btn-deux{
    text-align: center;
    margin-top: 50px;
    /* margin-block-end: 20px; */
}
.btn-statut{
    width: 180px;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    /* margin-left: 35%; */
    color: white;
    background-color: #415A9E;
}
/* le modal sur la page logement en cliquant sur le bouton ajout mogement */
.header-modal{
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #CA7108;
}
.body-modal{
    margin-left: 20px;
    margin-right: 20px;
}
.footer-modal{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 64%;
}
.btn-sup{
    width: 60px;
    height: 20px;
    font-size: 10px;
    background-color: #CA7108;
    border-radius: 5px;
    color: white;
    border: 0;
}
.btn-mod{
    width: 60px;
    height: 20px;
    font-size: 10px;
    background-color: #415A9E;
    border-radius: 5px;
    color: white;
    border: 0;
}
/* Logo */
.image-logo2{
   margin-top:  -15px;
   margin-bottom: -25px;
   position: relative;
   right: 27%;
}
.image-logo1{
    margin-top:  -15px;
    margin-bottom: -25px;
    position: relative;
    right: 32%;
}
/* Tableau */
table{
    border-collapse: collapse;
    /* border: #415A9E; */
    width: 100%;
    margin-top: 50px;
 }
 thead{
     text-align: center;
 }
 th{
   border: 1px solid #b8b4b4;
   padding: 10px;
   text-align: center;
   background-color: rgba(133, 194, 241, 0.421);
 }
 td{
    border: 1px solid #b8b4b4;
    padding: 10px;
    text-align: center;
 }
 /* Pied de page */
footer{
    background-color: #CA7108;
    border-top: 5px solid #415A9E;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-top: 14%;
}
/* ADJA */
/* authentification */
/* .page{
    width: 400px;
    height: 280px;
    background-color: rgb(241, 234, 221);
}
.authentif_adja{
    text-align: center;
    border: 1px solid rgb(230, 188, 109);
    width: 400px;
    height: 40px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    background-color: #CA7108;
    color: white;
}
#btn2{
    background-color: #415A9E;
    color: white;
    
}
.adja_authentif{
    width: 100px;
    height: 50px;
} */
.carousel-inner{
    height: 200px;
    width: 100%;
}
h4{
    position: relative;
    top: 20px;
    padding: 10px;
    background-color: #B2C6FB;
    color: white;
    text-align: center;
    width: 530px;
    height: 50px;
    border-radius: 10px;
}
.v{
    margin: 0;
    padding: 0;
    margin-left: 50%;
    height: 500px;
    margin-top: -150px;
    border-left: 5px solid rgba(224, 173, 173, 0.2);
}
.v2{
    margin: 0;
    padding: 0;
    margin-left: -26%;
    height: 600px;
    margin-top: -90%;
    border-left: 8px solid rgba(224, 173, 173, 0.5);
}
.gb-image{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(224, 173, 173, 0.1);
    height: 500px;
    position: relative;
    top: 30px;
}
.ligne1{
    position: relative;
    top: 50px;
}
.col1{
    position: relative;
    left: 50px;
}
.col2{
    position: relative;
    left: 200px;
}
.ligne2{
    position: relative;
    top: -280px;
}
.vente{
    position: relative;
    right: 50px;
}
.location{
    position: relative;
    left: 70px;
}
.btn1{
    background-color: #CA7108;
    width: 120px;
    height: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
}
.btn2{
    background-color: #415A9E;
    margin-left: 15px;
    width: 120px;
    height: 30px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
}
.btn3{
    margin-left: 15px;
    margin-bottom: 10px;
    background-color:#415A9E;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    
}
.btn4{
    margin-left: 15px;
    background-color: #415A9E;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

/* STYLE DETAILS */
#det{
    position: relative;
    top: 50px;
    font-weight: bold;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #CA7108;
}
.ligne-details{
    position: relative;
    top: 80px;
    left: 80px;
}
.image{
    margin-top: 20px;
    margin-left: 50px;
    width: 445px; 
    height: 250px; 
    margin-bottom: 8px;
    border-radius: 10px;
}
span{
    color: #CA7108;
    font-weight: bold;
    font-size: 20px;
}
.text-details{
    font-weight: bold;
    font-size: 20px;
}
/* .btn{
    margin-left: 350px;
    cursor: pointer;
    color: white;
} */
#btn:hover{
    cursor: pointer;
}

/* Modal */
#header{
    background-color: #CA7108;
}
.modal-title{
    position: relative;
    margin-left: 120px;
    color: white;
    font-weight: bold;
}
#btn1{
    position: relative;
    top: 100px;
    left: 90px;
    background-color: #415A9E;
    width: 20%;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}
#btn-inscrire{
    margin-top: 30px;
    color: white;
    background-color: #415A9E;
    border-radius: 5px;
    border: 0;
    width: 100px;
}
#btn-connexion{
    margin-top: 30px;
    color: white;
    background-color: #415A9E;
    border-radius: 5px;
    border: 0;
    width: 100px;
}
#btn-modal1{
    margin-top: 30px;
    color: white;
    background-color: #415A9E;
    border-radius: 5px;
    border: 0;
    width: 120px;
}
#btn-modal2{
    margin-top: 30px;
    color: white;
    background-color: #415A9E;
    border-radius: 5px;
    border: 0;
    width: 120px;
}
label{
    font-weight: bold;
    font-size: 20px;
}
/* Page authentification */
.page{
    position: relative;
    right: 80px;
    top: -100px;
    width: 700px;
    height: 320px;
    background-color: rgb(246, 243, 239);
}
.authentification{
    text-align: center;
    width: 700px;
    height: 40px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    background-color: #CA7108;
    color: white;
}
#btn_cool{
    background-color:#415A9E;
    color: white;
    border-radius: 5px;
    width: 100px;
    border: 0;
}
#btn_connexion{
    background-color:#415A9E;
    color: white;
    border-radius: 5px;
    width: 100px;
    border: 0;
}
.deux{
  text-align: center;
}
.taille-form{
    width: 650px;
    margin-left: 25px;
}
/* FIN ADJA */
/* DEBUT NAPINRIN */
.form-group{
    width: 100%;
    height: 95%;
}
.contact{
    width: 70%;
    height: 95%;
}
.formulaire{
    margin-left: 25%;
    margin-top: 50px;
}
.Envoyer{
    position: relative;
    left: 61%;
    top: 40px;
    color: white;
    background-color:#415A9E;
    border-radius: 10%;
    width: 100px;
    height: 25px;
    font-size: 13px;
    border: 0;
}
.retour_Adja{
    position: relative;
    left: 60%; 
    color: white;
    background-color:#415A9E;
    border-radius: 10%;
    top: 15px;
    width: 100px;
    height: 25px;
    font-size: 13px;
    border: 0;
}
.lab{
    font-size: 15px;
}
.form-control{
    height: 40px;
}
/* Modal Prise de rendez-vous */
.modal-header{
    background-color: #CA7108;
    padding-left: 20%;
    color: white;
}
.modal-title{
    font-size: 20px;
    text-align: center;
}
.envoyer{
    position: relative;
    margin-left: 45%;
    background-color: #415A9E;
    color: white;
    border: 0;
    width: 80px;
    border-radius: 10px;
}

/* Bouton ajouter des logements */

.btn-iscription{
    color: white;
    background-color: #415A9E;
    width: 100px;
}
.button{
    position: relative;
    margin-left: 5%;
    margin-top: 50px;
    color: white;
    background-color: #415A9E;
    width: 100px;
    border: 0;
    border-radius: 5px;
}
/* Modal de modification des logements */
#btn-modifier{
    color: white;
    background-color: #CA7108;
    width: 100px;
    border: 0;
    border-radius: 5px;
    height: 30px;
}
#btn-annuller{
    color: white;
    background-color: #CA7108;
    width: 100px;
    border: 0;
    border-radius: 5px;
    height: 30px;
}
/* Modal suppression */
#oui{
    background-color: #C00D0D;
    width: 80px;
    height: 35px;
    color: white;
}
#nom{
    background-color: #415A9E;
    width: 80px;
    height: 35px;
    color: white;
}
/* FIN NAPINRIN */
/* DEBUT VAN */
/* CLIENT */
#rdv{
    text-align: center;
    border-top: 8px solid rgba(224, 173, 173, 0.9);
}
.rdvc{
    position: relative;
    top: 20px;
    left: 20px;
    bottom: 20px;
    height: 35px;
    width: 150px;
    background-color: #415A9E;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    border-radius: 15px;
    
}
.blocl{
    position: relative;
    top: 10px;
}
.blocr{
    position: relative;
    top: 40px;
    left: 170px;
}
.dmde{
    margin-left: 35%;
    background-color: #415A9E;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    height: 30px;
    width: 180px;
    position: relative;
    top: -30px;
    font-weight: bold;
}/* FIN VAN */