/* La partie css de Prise de rendez-vous */

.modal-header{
    background-color: rgb(246, 123, 35);
    padding-left: 20%;
    color: white;
}
.modal-title{
    font-size: 20px;
}
.envoyer{
    position: relative;
    margin-left: 84%;
    background-color: rgba(14, 14, 111, 0.91);
    color: white;
    border-radius: 10%;
}
.close{
    color: white;
}

/* la partie css de ajouter des logements */

.ajouter{
    position: relative;
    margin-left: 13%;
    color: white;
    background-color: rgba(14, 14, 111, 0.91);
    width: 100px;
    border-radius: 10%;
}
.retour{
    position: relative;
    margin-left:20%;
    color: white;
    background-color: rgba(14, 14, 111, 0.91);
    width: 100px;
    border-radius: 10%;
}
/* La partie css de modification des logements */
.modifier{
    position: relative;
    margin-left: 84%;
    color: white;
    background-color: rgba(14, 14, 111, 0.91);
    border-radius: 10%;
}






 /* la partie Css de Contact  */
img{
    width: 100px;
    height: 90px;
    border-radius: 90px;
    margin-top: -15px;

}
.menu{
    display: flex;
    background-color: white;
    height: 50px;
}
.liste{
    list-style: none;
    display: flex;
    gap: 50Px;
    padding-left: 35%;
    margin-top: 9px;
    color: rgba(14, 14, 111, 0.91);
    border-radius: 4%;
}
.a{
    font-size: 20px;

}
.button{
    position: relative;
    margin-left: 545%;
    background-color:  rgba(14, 14, 111, 0.91);
    color: white;
    margin-top: 2px;
    border-radius: 10%;
    margin-top: 10%;
    border-radius: 10%;
}
.icone{
   background-color:rgb(246, 123, 35);
   padding-left: 85%;
   color: white;
   margin-bottom: 10%; 
}
.icone i:hover{
    cursor: pointer;
    background-color: rgba(14, 14, 111, 0.91);
    color: white;
    width: 25px;
    height: 25px;
} 
i{
    margin-inline-end: 20px;
}
.form-group{
    width: 100%;
    height: 95%;
}
.formulaire{
    position: absolute;
    margin-left: 27%;
    margin-top: -100px;
}
.Envoyer{
    position: absolute;
    margin-left: 88%;
    color: white;
    background-color:rgba(14, 14, 111, 0.91);
    border-radius: 10%;
    
}
